In [1]:
!pip install pandas
!pip install numpy

# Importamos las bibliotecas necesarias para cargar el twwwts.csv
import numpy as np
import pandas as pd

Requirement already satisfied: pandas in /home/dana/.local/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /home/dana/.local/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/dana/.local/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/dana/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Requirement already satisfied: numpy in /home/dana/.local/lib/python3.8/site-packages (1.22.4)

In [2]:
# Levantamos los datasets que necesitamos

# Archivo: tweets_graph.csv
current_directory = !pwd
path = current_directory[0] + '/tweets_graph.csv'
df_tweets = pd.read_csv(path, sep=',', names=['tweet_id','user_id','text','is_reply', 'is_retweet', 'is_original', 'mentions', 'media', 'hashtags', 'favorites', 'retweets'],header=0)

df_tweets

,tweet_id,user_id,text,is_reply,is_retweet,is_original,mentions,media,hashtags,favorites,retweets
0,900823742401699842,334537201,"RT @TwitchyTeam: Wait, WHAT!? Time Mag wants y...",0,7,False,True,False,1,0,0
1,902378409384431616,334537201,RT @MarkSimoneNY: Scientist Shuts Down CNN Hos...,0,219,False,True,False,1,0,0
2,897841296580235264,334537201,RT @MarkSimoneNY: Watch Donald Trump Disavowin...,0,189,False,True,False,1,0,0
3,897841383658205185,334537201,RT @MarkSimoneNY: White Supremacists actually ...,0,424,False,True,False,1,0,0
4,897840931365408768,334537201,RT @MarkSimoneNY: Now the Left Wing PC Nutjobs...,0,185,False,True,False,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
283034,874951925040427008,15513604,".@newtgingrich: To understand President Trump,...",1140,290,False,False,True,1,1,0
283035,719547177597411328,401603103,I Think Governor @SarahPalinUSA U need 2 do a...,2,3,False,False,True,1,1,0
283036,719627815897804800,401603103,@TexasEHS @CoolChange80 @SarahPalinUSA Nope wr...,1,1,True,False,False,3,0,0
283037,719882925567643648,401603103,@1sfreedom @CoolChange80 @TexasEHS @SarahPalin...,0,0,True,False,False,4,0,0
283038,711581028742082560,1173106255,.@JudgeJeanine #Trump @1sfreedom @ReneeNal @S...,0,0,True,False,False,5,0,2

In [3]:
#Archivo: to_predict.csv

path = current_directory[0] + '/to_predict.csv'
df_predict = pd.read_csv(path, sep=',', names=['origin','destiny'],header=0)

df_predict

             origin    destiny
0          34116023   61664932
1        1340093874  789365196
2         464239813   56572080
3          92370600   16297707
4          17824471   31437431
...             ...        ...
1326036    16439471   20800328
1326037     3819931  259860510
1326038    18650137  104601364
1326039   795680612   22307765
1326040   731167584   16259228

[1326041 rows x 2 columns]